<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
        <form method="post">
            <input type="text" name="name" placeholder="Имя пользователя">
            <input type="text" name="phoneNumber" placeholder="Номер телефона">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список клиентов</div>
    <div>Найти</div>
    <form method="post" action="filter">
        <input type="text" name="phoneNumber">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Найти</button>
    </form>
    {{#users}}
        <div>
            <b>{{id}}</b>
            <span>{{name}}</span>
            <i>{{phoneNumber}}</i>
        </div>
    {{/users}}
</body>
</html>